@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Sarabun');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto');

body {
  background-image: url('./pictures/board.jpg');
  color: white;
  width: auto;
  height: 100%;
  font-family: 'Indie Flower', cursive;
}

h1 {
  font-size: 7  4px;
 padding: 5px;
 font-family: 'Indie Flower';
 color: #4A4747;
}

h2, h3 {
  font-size: 54px;
 padding: 5px;
 /* font-family: 'Pacifico'; */
 color: #4A4747;
}

p {
  font-size: 24px;
 padding: 2px;
 /* font-family: 'Pacifico'; */
 color: #4A4747;
 line-height: 80%;
}

ul,li {
  font-size: 24px;
padding: 2px;
/* font-family: 'Pacifico'; */
color: #4A4747;
}

b {
  color: black;
}




input[type=text] {
  -webkit-transition: width 0.4s ease-in-out;
 transition: width 0.4s ease-in-out;
  width: 200px
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #EF626C;
  color: #4A4747;
  border-radius: 15px 50px;
  width: 200px;
  height: 50px;
  font-size: 35px;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

input[type=text]:focus {
  width: 70%;
}


.grid-container {
display: grid;
grid-template-columns: auto auto 50%;
grid-template-rows: 19% 19% 19% 19% 19%;
padding: 1px;
background-color: rgba(255, 255, 255, 0.3);
height: 100%;
}

.grid-item {
border: 1px solid rgba(0, 0, 0, 0.8);
padding: 1px;
text-align: center;
justify-content: center;
}

#title {
  grid-column: 1/4;
  grid-row: 1;
}

#question {
 grid-column: 1/3;
 grid-row: 2;
}

#input-form {
  grid-column: 1/3;
  grid-row: 3;
}

#result {
  grid-column: 1/3;
  grid-row: 4;
}

#score {
  grid-column: 1;
  grid-row: 5;
}

#controls {
  grid-column: 2;
  grid-row: 5;
}

#globe {
  grid-column: 3;
  grid-row: 2/ 6;
}
